setuptools==67.6.0
pymongo~=4.3.3
pandas=1.4.4
sensor~=0.0.1
numpy~=1.24.2
python-dotenv~=1.0.0
scikit-learn~=1.2.2
yaml~=0.2.5
pyyaml~=6.0
scipy~=1.10.1
pandas==1.5.3
dill==0.3.6
imblearn==0.0
xgboost==1.7.1
pendulum==2.1.2

-e .
